*{
  box-sizing: border-box;
}
/* General css */
header {
  background-color: #ccffcc;
  padding: 10px 0 4px;
  border-bottom: 3px solid #ffffff;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.logo{
  max-width: 50px;
}
main{
  padding-top: 56px;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  color: #4a4a4a;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  padding: 5px;
}

#hero span {
  display: block;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  padding: 5px;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  padding: 5px;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
  padding: 5px;
}

img {
  width: 100%;
}

/* link */
a {
  color: #ff5350;
  text-align: center;
  text-decoration: none;
}
a:visited { /* visited link */
  color: #ff5350;
}
a:hover {
  color: #ffab50;
  text-decoration: none;
}
a:focus{
  color: #ffab50;
  text-decoration: none;
}
a:active { /* selected link */
  color: #cc6540;
  text-decoration: none;
}

/* button */
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff !important; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
  transition-duration: 0.2s;
  transition-property: opacity;
  text-align: center;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.email {
  background-color: transparent;
  color: #ff7f50 !important;
  border: 2px solid #ff7f50;
  text-transform: uppercase;
}
.button.email:hover {
  background-color: #ff7f50;
  color: #ffffff !important;
  text-transform: uppercase;
}
/* nav */
nav{
    margin-top: 4px;
    width: 100%;
    display: inline-block;
}
nav ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  text-align: center;
}

nav > ul > li > a {
  padding:0 10px;
  text-transform: uppercase;
  font-weight:700;
  color:#4a4a4a;
  display: inline-block;
}
.navtoggle, .navtoggle.responsive{
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.container{
  max-width: 1200px;
  padding:0 15px;
  margin-left: auto;
  margin-right: auto;
}
#work .row{
  margin:30px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}
.center{
  text-align: center;
}
footer{
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 30px 0 0;
  padding: 0;
  text-align: center;
}

footer li{
  display:inline-block;
}

footer ul li a {
  padding:0 10px;
  text-transform: uppercase;
  font-weight:700;
  color:#4a4a4a;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
  }
  nav{
      float: right;
      margin-top: 14px;
      width: auto;
  }
  nav ul{
    display: inline-block;
  }
  .navtoggle {
    display: inline-block;
    width: 100%;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  #work h2{
    text-align: center;
  }
  .col-md-5{
    width: 41.66%;
  }
  .col-md-6{
    width: 50%;
  }
  .col-md-7{
    width: 58.33%;
  }
  .col-md-12{
    width: 100%;
  }
  [class*="col"]{
    float: left;
    padding: 10px;
  }
  .row::after{
    content: "";
    clear: both;
    display: table;
  }
  .profile img{
    max-width: 250px;
  }
}
@media only screen and (min-width: 1024px) {
}
